@import "../globalstyles/globals";
@import "../globalstyles/variables";
.swiperhero {
    background-color: $lightGrayishBlue;
    @include breakpoint-down(small) {
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }
    .swiperhead {
        width: 100%;
        height: 50vh;
        @include breakpoint-down(medium) {
            width: 100%;
            height: 35vh;
        }
        @include breakpoint-down(small) {
            width: 100%;
            height: 23vh;
        }
    }
}

.hero {
    background-color: $veryLightGray;
    .container {
        @include breakpoint-up(large) {
            // display: flex;
            // align-items: center;
        }
    }
    &__first{
        border: 1px solid;
        display: flex;
        justify-content: space-between;
        .welcome{
            width: 60%;
            border: 1px solid;

            h2{
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        .latestnews{
            min-width: 30%;
            border: 1px solid;
            background-color: darkcyan;
        }
    }
    &__second {
        border: 1px solid;
        h2{
            margin-bottom: 0;
        }
        display: flex;
        justify-content: space-between;
        .vismis {
            width: 50%;
            p{
                margin-top: 0.8rem;
                margin-bottom: 1.2rem;
            }
            ul{
                padding: 0.8rem;
                margin: 0;
                list-style: square;
            }

        }
        .groupofinst {
            width: 50%;
            // background-color: cadetblue;
            border: 1px solid blue;
            ul {
                list-style: none;
                color: $white;
                margin: 0;
                padding: 0 1.45rem;
                li {
                    border-bottom: 1px solid #000;
                    color: #000;
                }
            }
        }
    }



    &__text {
 
        padding-top: 1rem;
        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }
        h2 {
            // text-align: center;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.15;
            color: $darkBlue;
            margin-bottom: 1.5rem;
            @include breakpoint-up(large) {
                font-size: $font-xlg;
                font-size: 2rem;
            }
        }
        p {
            // text-align: center;
            line-height: 1.15;
            //   margin-bottom: 2.35rem;
        }
    }
}

///=====================////
///=====================////
///=====================////
///=====================////
.feature {
    background-color: $lightGrayishBlue;
    text-align: center;
    @include breakpoint-up(medium) {
        text-align: left;
    }
    &__intro {
        margin-bottom: 3.75rem;
        @include breakpoint-up(large) {
            width: 60%;
        }
    }
    &__grid {
        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__item {
        padding: 0.9375rem;
        // border: 1px solid red;
        @include breakpoint-up(medium) {
            flex: 0 0 50%;
        }
        @include breakpoint-up(large) {
            flex: 1;
        }
    }
    &__icon {
        margin-bottom: 1.25rem;
        @include breakpoint-up(large) {
            margin-bottom: 1.75rem;
        }
    }
    &__title {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.5;
        color: $darkBlue;
        margin-bottom: 1rem;
        @include breakpoint-up(large) {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }
    &__description {
        font-size: 0.875rem;
        line-height: 1.5;
    }
}

///=====================////
///=====================////
///=====================////
///=====================////
.articles {
    background-color: $veryLightGray;
}

.article {
    // &__content {
    // }
    // grid-template-columns: repeat(auto-fit,minmax(14.375rem,1fr));
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.875rem;
        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint-up(large) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__item {
        background-color: $white;
        border-radius: 0.3125rem;
        overflow: hidden;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);
        transition: all 150ms ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__image {
        height: 12.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__text {
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        color: $grayishBlue;
        @include breakpoint-up(medium) {
            padding: 1.875rem 1.5625rem;
        }
    }
    &__author {
        font-size: 0.625rem;
        margin-bottom: 0.75rem;
    }
    &__title {
        font-size: 1.0625rem;
        line-height: 1.2;
        margin-bottom: 0.75rem;
        color: $darkBlue;
    }
    &__description {
        font-size: 0.8125rem;
        line-height: 1.1;
    }
}