
@import "../globalstyles/globals";
@import "../globalstyles/variables";

.footer {
  background-color: $darkBlue;
  color: $white;
  padding: 2.5rem;
  text-align: center;


  .container{

      @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        gap: 1rem;
        grid-template-rows: 1fr auto;
        grid-template-areas:
          "logo   links1   links2 cta"
          "social links1   links2 copyright";
          justify-items: start;
      }
  }


  a {
    color: $white;
  }

  &__logo {

    .logo_container{

      
      display: flex;
      img{
        width: 3rem;
        height: 3.75rem;
      }
      .logo_text{
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1;
        color: white;
        text-align: left;
        padding-left: 0.6rem;
      }
    }
      
      @include breakpoint-down(medium){
          margin-bottom: 1.875rem;
          height: 4rem;
      }


    display: inline-block;

    @include breakpoint-up(large) {
      grid-area: logo;
    }
  }

  &__social {
    @include breakpoint-down(medium){
        margin-bottom: 1.875rem;
    }
    @include breakpoint-up(large) {
      grid-area: social;
      align-self: end;
      
    }
    a{
        display: inline-block;
        height: 1.25rem;

        svg path{
            transition: fill 150ms ease-in-out;
        }

        &:hover svg path{
            fill: $limeGreen;
        }
        
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__links {
      font-size: 0.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint-up(large){
        align-items:start;
        justify-content: space-between;
    }
    &.col1 {
      @include breakpoint-up(large) {
        grid-area: links1;
      }
    }
    &.col2 {
        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }
      @include breakpoint-up(large) {
        grid-area: links2;
      }
    }
    a {
            line-height: 2.5;
            transition: color 150ms ease-in-out;
        &:hover{
            color: $limeGreen;
        }
    }
  }

  &__cta {
    @include breakpoint-up(large) {
      grid-area: cta;
      text-align: right;
      justify-self: end;
    }
    a.button {
        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }
    }
  }

  &__copyright {
    font-size: 0.8125rem;
    color: $grayishBlue;

    @include breakpoint-up(large) {
        grid-area: copyright;
        justify-self: end;
      }
  }
}
